body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: auto;
  overflow-y: scroll; /* Ensure scrolling functionality */
  
  /* Completely hide scrollbar */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none;    /* Hide scrollbar in Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
}

.login-container {
  background: #ffffff;
  padding: 20px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
}
.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}
.input-field {
  margin-bottom: 15px;
  width: 100%;
}
.input-field input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #0056b3;
}

.image-container {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Ensure container is taller than the viewport */
  min-width: 100vh;
  overflow: visible; /* Allow overflow */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* Allow image height to adjust dynamically */
}


.door-area {
    position: absolute;
    /* background-color: rgba(255, 165, 0, 0.6); */
    cursor: pointer;
    z-index: 1;
}

/* .door-area:hover {
    background-color: rgba(255, 165, 0, 0.9);
} */

#nextLevel:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.unselectable {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}